<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--CSS file link here-->
		<link rel="stylesheet" type="text/css" href="public/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="public/stylesheets/landing.css">
		<!--Javascript file link here-->
		<script type="text/javascript" src=""></script>
		<!-- Bootstrap latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<title>Yelpcamp</title>
	</head>
	<body>
		<!-- Pour Etapes V5 **
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">YelpCamp</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Login</a></li>
						<li><a href="/">Sign Up</a></li>
						<li><a href="/">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		-->